@model Eugene.Models.Message
@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers

@{ 
    ViewBag.Title = "New Message Form";
}

@{ Layout = "_BasicLayout";}

<form asp-controller="Message" asp-action="Add" method="post">
    
        <label asp-for="Subject">Subject</label>
        <input class="form-control" asp-for="Subject" />
       
    
        <label asp-for="Body">Body</label>
        <input class="form-control" asp-for="Body" />
   
    
        <label asp-for="Date">Date</label>
        <input class="form-control" asp-for="Date" />
    
   
        <label asp-for="From">From</label>
        <input class="form-control" asp-for="From" />

   
        <label asp-for="Topic">Topic</label>
        <input class="form-control" asp-for="Topic" />
 
    <button tye="submit" class="btn btn-primary ">Add</button>

    <a class="btn btn-primary" href="/Message/List">Cancel</a>
   
</form>
   